.Nosotros {
    border: 3px solid white; /* Borde blanco de 2px */
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 0px 0px 15px 0px #ff00ff;
    border-radius: 15px;
    padding: 20px;
    width: 90%; /* Ancho fijo */
    height: auto; /* Altura fija */
}

.Nosotros img {
    width: auto !important; 
    max-height: 45px;
    margin: 0 auto; 
    border-radius: 10px;

    margin-top: 20px;
}

.Nosotros p {
    font-size: 15px;
}

.nos{
    padding: 0%;
}

@media (max-width: 767.98px) {
    .container {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

